html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#eqMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(211, 211, 211, 0.9);
  z-index: 9999; /* Ensure the container is above other elements */
}

.content {
  display: none; /* Initially hide the content div */
}

#timeTable {
position: absolute;
bottom: 0px;
}
