html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#eqMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.container {
  position: fixed;
  top: 0;
  left: 120px;
  display: flex;
  width: 320px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 5px;
  z-index: 9999; /* Ensure the container is above other elements */
}


.container .content {
  display: none;
}

.container.open .content {
  display: block;
}

#filter {
  position: fixed;
  top: 0;
  left: 50px;
  height: 40px;
  width: 40px;
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

